<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS, and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div id="vercode_div">
    <form role="form" class="form-horizontal">
        <div class="form-group">
            <label for="vercode_Mobile" class="col-sm-2 control-label">手机号</label>
            <div class="col-sm-10">
                <input type="text" id="vercode_Mobile" class="form-control" placeholder="请输入手机号">
            </div>
        </div>
        <div class="form-group">
            <label for="vercode_Vercode" class="col-sm-2 control-label">验证码</label>
            <div class="col-sm-10">
                <input type="text" id="vercode_Vercode" class="form-control" placeholder="请输入验证码">
            </div>
        </div>
        <div class="form-group">
            <label for="vercode_btn" class="col-sm-2 control-label"></label>
            <div class="col-sm-10">
                <a id="vercode_btn" class="btn btn-primary" href="#" onclick="on_vercode_btn_clicked()">发送验证码</a>
            </div>
        </div>
    </form>
</div>
<script type="text/javascript">
    var callbacks = {
        onSuccess: function () {
        },
        onFail: function (triggerButton) {
        }
    };

    function on_vercode_btn_clicked() {
        var mobile = $('#vercode_Mobile').val();
        var vercode = $('#vercode_Vercode').val();
        doSendVercode(mobile, vercode);
    }

    function doSendVercode(mobile, vercode) {
        $.ajax({
            cache: false,
            type: 'POST',
            url: '/Home/Vercode/?mobile=' + mobile + '&vercode=' + vercode,
            //data: mobile,
            contentType: "application/json",
            dataType: 'json',
            success: function (results) {
                callbacks.onSuccess();
                var title;
                var data;
                if (results.IsSuccess) {
                    title = "操作成功";
                    data = results.Message;
                }
                else {
                    title = "操作失败";
                    data = results.Message;
                }
                var newId = new Date().getTime();
                
                alert(data);
            }
        });
    }
</script>